.limited-emoji-set {
  width: 300px;
  flex-wrap: wrap;
  justify-content: space-around;
  img {
    margin: 10px !important;
  }
}

.post-retort-container {
  margin-bottom: 8px;
}

.emoji-picker.has-limited-set {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  min-height: unset;
}
